* {
  margin: 0;
  padding-top: 0;
  box-sizing: border-box;
}

body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        min-height: 100vh;
        background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        background-image: url("kota.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        padding: 5px 0 50px 0;
        position: relative;
      }

      .header {
        width: 50vh;
        height: 10vh;
        display: grid;
        place-items: center;
        margin: 20px 0 20px 0;
        background-color: #ADA996;
        color: #F2F2F2;
        border: solid 2px #F2F2F2;
        border-radius: 50px;
        box-shadow: 0px 5px 5px rgb(0, 0, 0);
      }

      body {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .card-container {
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        display: flex;
        margin: 5vh 0 0 0;
      }

      .card {
        height: 50vh;
        width: 40vh;
        background-color: #ffffff;
         display: grid;
    place-items: center;
        border-radius: 20px;
      }

      .card a {
        height: 5vh;
        width: 30vh;
        background-color: red;
        display: grid;
       place-items: center;
       margin-bottom: 50px;
      }

     img {
       width: 25vh;
    height: 25vh;
    object-fit: cover;
    border-radius: 10px;
    border: solid 2px red;
      }

